[submodule "wiki"]
	path = wiki
	url = git@github.com:strandtentje/agwiki.git
[submodule "login"]
	path = login
	url = git@github.com:strandtentje/aglogin.git
[submodule "perm"]
	path = perm
	url = git@github.com:strandtentje/agperm.git
[submodule "files"]
	path = files
	url = git@github.com:strandtentje/agfiles.git
