
@font-face {
  font-family: 'RedOctober-Fat';
  src: url('RedOctober-Fat.eot?#iefix') format('embedded-opentype'),  url('RedOctober-Fat.woff') format('woff'), url('RedOctober-Fat.ttf')  format('truetype'), url('RedOctober-Fat.svg#RedOctober-Fat') format('svg');
  font-weight: normal;
  font-style: normal;
}
