<div class="group">
	<h2>Nieuwe prestatie</h2>
	<form method="post" action="/aanpassen/nieuw/prestatie">
		<label for="naam">Naam</label>
		<input type="text" name="naam">
		<label for="slug">URL slug</label>
		<select name="slug">
			{% slugs %}
		</select>
		<input type="submit" value="nieuwe prestatie maken">
	</form>
</div>

<div class="group">
	<h2>Nieuw team</h2>
	<form method="post" action="/aanpassen/nieuw/team">
		<label for="naam">Naam</label>
		<input type="text" name="naam">
		<input type="submit" value="nieuw team maken">
	</form>
</div>

<div class="group">
	<h2>Leegmaken</h2>
	<form method="post" action="/aanpassen/legen">
		<label for="wachtwoord">Wachtwoord</label>
		<input type="password" name="wachtwoord">
		<input type="submit" value="wipe it">
	</form>
</div>