<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
		{% styleinjection %}
		</style>
		<title>scodaboda</title>
		<noscript>
			<meta http-equiv="refresh" content="5">
		</noscript>
	</head>
	<body>
		<div id="scores">
			<table>
				<tr>
					<td></td>
					{% challenges %}
				</tr>
				{% ranking %}
			</table>
		</div>
		<script type="text/javascript">
		{% jquery %}
		 setInterval(function () {
		     $( "#scores" ).load( "/score table" );
		 },400);
		{% scriptinjection %}
		</script>
	</body>
</html>