	{% voornaam_failure %}
	<div class="label">
		<span class="language">10 INPUT "Your</span>
		<label for="voornaam">first name</label><span class="language">?"; N$</span>
	</div>
	<input type="text" id="voornaam" name="voornaam" value="{% voornaam %}">
	{% tussenvoegsel_failure %}
	<div class="label">
		<span class="language">20 INPUT "Your </span>
		<label for="tussenvoegsel">surname prefix</label><span class="language">?"; P$</span>
	</div>
	<input type="text" id="tussenvoegsel" name="tussenvoegsel" value="{% tussenvoegsel %}">
	{% achternaam_failure %}
	<div class="label">
		<span class="language">30 INPUT "Your </span>
		<label for="achternaam">surname</label><span class="language">?"; S$</span>
	</div>
	<input type="text" id="achternaam" name="achternaam" value="{% achternaam %}">
	{% post_failure %}
	<div class="label">
		<span class="language">40 INPUT "Your </span>
		<label for="post">
			Electronic m<span>ai</span>l ad<span>dres</span>s</label><span class="language">?"; S$
		</span>
	</div>
	<input type="text" id="post" name="post" value="{% post %}">

	{% email_failure %}
	<div class="lebal">
		<span class="language">45 DO NOT INPUT "Your </span>
		<label for="email">E-mail address</label><span class="language">?"; S$</span>
	</div>
	<input type="text" id="email" name="email" value="poep">

	<div class="label">
		<span class="language">50 WAIT 653,2</span>
	</div>
	<input type="submit" value="REGISTER">