<h1>Crash and Compile</h1>
<p>
	&nbsp;&nbsp;&nbsp;30 PLACES
	&nbsp;&nbsp;&nbsp;{% placecount %}&nbsp;USED
</p>
<p>
	READY?
</p>
<p>
	The Cover LanCee and Quintor will be organising a crash-and-compile at Quintor headquarters, Ubbo&nbsp;Emmiussingel&nbsp;112.
</p>
<p>
	The program: 16:00 entrance, 16:30 Presentation about Quintor and Crash &amp; Compile, 17:30 Food, 18:30 start Crash &amp; Compile, 23:00 Closing
</p>
<p>
	Join us for an evening of hammering the keyboard as you get hammered yourself. We have collected the finest of programming challenges for beginning programmers and more seasoned ones alike.
</p>
<p>
	Food and beer is accounted for by Quintor. All you have to bring is your laptop, a teammate and your best thinking cap.
	<br><a class="signuplink" href="/signup">PRINT "Sign us up, LANcee."</a>
</p>
