<!DOCTYPE html>
<html>
	<head>
		<title>Crash and Comrade</title>
		<meta name="viewport" content="initial-scale=1">
		<style type="text/css">
		img { width: 80px; }
			{% style %}
		</style>
	</head>
	<body>
		<div id="header">
			<a href="/">C&amp;C</a>
			<a href="/score">Score</a>			
		</div>
		<div id="authentication">
			<span id="welcome">Welcome {% username %}</span>
			<div id="authlinks">
				{% register %}
				{% logout %}
				{% login %}
				{% self %}
				{% admin %}
			</div>
		</div>
		<div id="content">
			{% content %}
		</div>
		<div id="credits">			
			by <a href="http://www.borreh.nl">president Borbachev</a>
			for <img src="/static/img/cover_logo.png">
			sponsored by <img src="/static/img/quintor.png">
		</div>
	</body>
</html>
