<!DOCTYPE html>
<html>
	<head>
		<title>Crash and Compile</title>
		<meta name="viewport" content="initial-scale=1">
		<style type="text/css">
			{% style %}
		</style>
	</head>
	<body>
		<div id="logos">
				<img src="../static/img/quintor.png"></img>
				<img src="../static/img/cover_logo.png"></img>
		</div>
		
		<div class="bezel">
			<div class="border">
				<div class="content">
					{% content %}
				</div>
			</div>
		</div>

		<div class="credits">
			C64 C&amp;C signup in <a href="http://github.com/strandtentje/apollogeese">ag</a> by <a href="http://www.borreh.nl">rob</a>
		</span>
	</body>
</html>
