
	<div class="label">
		<span class="language">10 PRINT "</span>You have been registered.<span class="language">"</span>
	</div>
	<div class="label">
		<span class="language">20 PRINT "</span>If you've a team member in mind,<span class="language">"</span>
	</div>
	<div class="label">
		<span class="language">30 PRINT "</span>make them sign up too!<span class="language">"</span>
	</div>
	<div class="label">
		<p>
			<span class="language">40 </span><a href="/">RETURN</a>
		</p>
	</div>
	{% email %}