<style type="text/css">{% selectcss %}</style>
<form method="post" action="{% baseurl %}">
	<select id="teamselect" name="team">
		<option>--Pick a team--</option>
		{% teams %}
	</select>
	<select id="challengeselect" name="challenge">
		<option>--Pick a challenge--</option>
		{% challenges %}
	</select>
	<div class="inlinefield">
		<label for="score">Score:</label>
		<input type="number" name="score" value="{% score %}">
		<input type="submit" value="update">
	</div>
</form>
<table id="timeline">
	{% achievements %}
</table>
<script type="text/javascript">{% selectjs %}</script>
<script type="text/javascript">
  $('#teamselect').select2();
  $('#challengeselect').select2();
</script>