#credits img { width: 80px; }

@font-face {
  font-family: 'RedOctober-Fat';
  src: url('/static/fonts/RedOctober-Fat.eot?#iefix') format('embedded-opentype'),  url('/static/fonts/RedOctober-Fat.woff') format('woff'), url('/static/fonts/RedOctober-Fat.ttf')  format('truetype'), url('/static/fonts/RedOctober-Fat.svg#RedOctober-Fat') format('svg');
  font-weight: normal;
  font-style: normal;
}

#header {
	text-align: center;
}

a#logo {
	display: block;
	width: 100%;
	text-decoration: none;	
	font-family: 'RedOctober-Fat';
	font-size: 20pt;
	text-align: center;
	position: relative;
	z-index: 10;
}

a#logo:after {
	content: '.';
	display: block;
	width: 6cm;
	height: 1.5cm;
	position: absolute;
	left: calc(50% - 3cm);
	font-size: 0;
	top: 0;
	z-index: -10;
	box-shadow: 0px 0px 5px black;
	background: repeating-linear-gradient(
    0deg,
    #999 0px,
    #999 1px,
    #ccc 2px,
    #ccc 3px
  	);
}

a#logo span {
	text-shadow: 1px 1px 3px #333;
}

#lred {
	clear: both;
}

#cenc {
	color: #ee6;
}

#ra {
	color: #e33;
}

a#scoreboard {	
	padding: 3px 6px;
	color: white;
	font-weight: bold;
	box-shadow: 0px 0px 5px black;
	text-decoration: none;
	font-family: sans-serif;
	text-shadow: 1px 1px 3px #333;

	background: repeating-linear-gradient(
    0deg,
    #ee6 0px,
    #ee6 1px,
    #aa0 2px,
    #aa0 3px
  	);
}

#authentication {
	margin-top: 1cm;
	width: 11cm;
	margin-left: auto;
	margin-right: auto;
}

#welcome {
	display: block;
	width: 100%;
	
}

