@font-face {
  font-family: 'FontAwesome';
  src: url('/static/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('/static/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('/static/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('/static/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('/static/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('/static/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#credits img { width: 80px; }

html, body {
	padding: 0; margin: 0; font-family: sans-serif;
}

#navigation, #header {
    background: #009FE1;
    color: white;
}


div#header {
	position: relative;
	text-align: center;
	padding-top: 0.2cm;
}

#content h1, #content .summary {
   padding: 0px;
}

#content {
	padding-bottom: 0.4cm;
}

#content h1 {
	margin: 0;
	padding-top: 0.4cm;
}

a#logo {
	line-height: 102%;
	padding-top: 2px;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 23pt;
	z-index: 10;
	color: white;
}

#lred {
	clear: both;
}

#links a, #welcome {
	display: block;
	padding: 9px 6px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	width: 8cm;
	margin: auto;
	text-align: left;
	white-space: nowrap;
}


#links a:before {
	width: 0.8cm;
	text-align: center;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	padding-right: 4px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.notthere {
	display: none;
}

div#content {
	line-height: 150%;
}

div#content, div#credits {
    margin: 0 0.4cm;
}

#controlpanellink:before { content: "\f085";}
#signinlink:before { content: "\f090";}
#signoutlink:before { content: "\f08b";}
#signuplink:before { content: "\f234";}
#profilelink:before { content: "\f007";}
#teamlink:before { content: "\f0c0";}
#scoreboard:before { content: "\f0ae"; }
#wikilistlink:before { content: "\f19c"; }
#menuopen {display: inline-block;}
#menuopen:before {
	width: 0.8cm;
	text-align: center;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0c9";
	cursor: pointer;
}

form.personal {
	margin: 0 0.5cm;
}

span.formtitle {
	box-sizing: border-box;
	margin: 1cm;
	line-height: 300%;
}

.field label, .field input {
	display: block;
}

.field input {
	margin-left: 0.5cm;
	width: 6cm;
}

.failure .hint {
	color: red;
	margin-left: 0.5cm;
}

@media(min-width: 500px) {
	label {
		display: block;
	}

	.field label {
		text-align: right;
	}

	.field input, .field label {
		min-width: 4cm;
		display: inline-block;
		margin: auto;
	}

	.failure {
		text-align: left;
	}

	.failure .field {
		text-align: left;
	}

	.failure .hint {
		color: red;
		text-align: left;
		padding-left: 4.2cm;
		margin-left: 0;
	}
}


input[type="submit"] {
	display: block;
	width: auto;
	margin-top: 0.4cm;
}

table input[type="submit"] {
	margin-top: 0;
}

td form {
	text-align: center;
}

tr:nth-child(2n + 1) {
	background: #ddd;
}

@media(min-width: 300pt) {
	.notthere {
		display: inline;
	}

	#menuopen {
		display: none;
	}

	#navigation {
		line-height: 1cm;
		text-align: center;
	}

	#links {
		display: inline-block;
	}

	#links a, #welcome {
		display: inline;
		color: white;
	}

	#username {
		display: inline;
		text-align: left;
	}

	div#content {
		min-height: calc(100vh - 12vw - 5.84cm);
	}

	div#credits {
		background: white;
		display: block;
		box-sizing: border-box;
		text-align: right;
		padding-top: 1cm;
		min-height: 4cm;
	}
}

div#hbg {display: none;}

@media(min-width: 500pt) {
	#links a, #welcome {
		display: inline;
	}

	div#content {
		min-height: calc(100vh - 15vw - 5.84cm);
	}

	div#content, div#credits {
		margin: 1cm;
	}
}

@media(min-width: 900px) {
	div#content {
		max-width: 23cm;
		margin-left: auto;
		margin-right: auto;
	}
}

.fading.message {
	display: none;
}

.fading.message + .field label,
.failure .field label {
	position: relative;
}

.fading.message + .field label:before,
.failure .field label:before {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media(min-width: 500px) {
	.fading.message + .field label:before,
	.failure .field label:before {
		left: initial;
		right: 0;
	}
}

.neutral.message + .field label:before {
	content: '\f111';
}

.positive.message + .field label:before {
	content: '\f058';
}

.negative.message + .field label:before,
.failure .field label:before {
	content: '\f00d';
}


.token {
	font-family: monospace;
	background: #444;
	color: #eee;
}

#teamlist {
	border: solid 2px black;
}

.inlinefield input, .inlinefield label {
	display: inline-block;
}

code {
	display: block;
	margin: 0.5cm 0;
	background: #ddd;
	white-space: pre;
}

.valid0 form {
	display: none;
}

.articledelete {
	display: none;
}
